$body-color: #fff;
$body-text-color: #5a5a5a;
$link-color: #0b8ce3;
$discount-color: #d90b0b;
$primary-color: #0b8ce3;
$sale-banner-bg: #f00;

/*main nav links*/
$main-nav-link-color: #000;
$link-border: rgba(0,0,0,0.10);
$active-link-border: #262c5d;
$link-hover-color: rgba(245, 245, 245, 0.7);
$link-active-color: #fff;


/*form messages*/
$error-color-text: #f00;