<article class="row appreciations-section">
  <h3 class="cmn-block-heading narrow">
    <span class="heading-slogan">Appreciations</span>
    <p class="heading-text">Lorem Ipsum is simply</p>
  </h3>

  <aside class="apr-block text-center">
    <div class="apr-slider">
      <div class="apr-slide">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br />
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
        <strong class="u-name"><u>Lorem Lipsum Name</u></strong>
      </div>
      <div class="apr-slide">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br />
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br />
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
        <strong class="u-name"><u>Lorem Lipsum Name</u></strong>
      </div>
      <div class="apr-slide">
        <p>Dummy text</p>
        <strong class="u-name"><u>Lorem Lipsum Name</u></strong>
      </div>
      <div class="apr-slide">
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
        <strong class="u-name"><u>Lorem Lipsum Name</u></strong>
      </div>
      <div class="apr-slide">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br />
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500<br />Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br />
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
        <strong class="u-name"><u>Lorem Lipsum Name</u></strong>
      </div>
    </div>
  </aside>
</article>
