<article class="row footer-links">
  <% if content_for?(:show_footer) %>
    <div class="col-sm-3">
      <dl>
        <dt>SHOP</dt>
        <dd><a href="javaScript:" class="border-animation">Lorem Lipsum</a></dd>
        <dd><a href="javaScript:" class="border-animation">Lorem Lipsum</a></dd>
        <dd><a href="javaScript:" class="border-animation">Lorem Lipsum</a></dd>
        <dd><a href="javaScript:" class="border-animation">Lorem Lipsum</a></dd>
        <dd><a href="javaScript:" class="border-animation">Lorem Lipsum</a></dd>
      </dl>
    </div>
    <div class="col-sm-3">
      <dl>
        <dt>About</dt>
        <dd><a href="javaScript:" class="border-animation">Lorem Lipsum</a></dd>
        <dd><a href="javaScript:" class="border-animation">Lorem Lipsum</a></dd>
        <dd><a href="javaScript:" class="border-animation">Lorem Lipsum</a></dd>
        <dd><a href="javaScript:" class="border-animation">Lorem Lipsum</a></dd>
        <dd><a href="javaScript:" class="border-animation">Lorem Lipsum</a></dd>
      </dl>
    </div>
    <div class="col-sm-3">
      <dl>
        <dt>Useful lInks</dt>
        <dd><a href="javaScript:" class="border-animation">Lorem Lipsum</a></dd>
        <dd><a href="javaScript:" class="border-animation">Lorem Lipsum</a></dd>
        <dd><a href="javaScript:" class="border-animation">Lorem Lipsum</a></dd>
        <dd><a href="javaScript:" class="border-animation">Lorem Lipsum</a></dd>
        <dd><a href="javaScript:" class="border-animation">Lorem Lipsum</a></dd>
      </dl>
    </div>
    <div class="col-sm-3">
      <dl>
        <dt>Connect</dt>
        <dd>
          <p>
            <strong>General Inquiries</strong><br />
            <a href="#;" class="narrow border-animation u-line">support@shoestore.com</a><br />
            phone x-xxx-xxx-xxxx
          </p>

          <p>
            <strong>Customer Service</strong><br />
            <a href="#;" class="narrow border-animation u-line">contact@shoestore.com</a><br />
            phone x-xxx-xxx-xxxx
          </p>
        </dd>
      </dl>
    </div>
  <% end %>
  <div class="col-sm-12">
    <dl><small>©2016 Shoes Store | ALL RIGHTS RESERVED.</small></dl>
  </div>
</article>
