<div id="spree-header">
  <header id="header" data-hook class="container-fluid">
      <figure id="logo" class="navbar-brand" data-hook>
        <%= logo %>
      </figure>
      <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </header>
  <div class="container-fluid">
    <div class='dropdown container-fluid'>
    </div>
    <div class="header-shipping global-shipping row">
      <div class='shipping-message col-sm-12'>Free shipping on order $90 {Enter Code in cart : ship90} more Detail</div>
    </div>
  </div>
</div>
