<div class="top-nav-block">
  <ul class="top-link-bar list-unstyled" data-hook>
    <%= render :partial => 'spree/shared/nav_bar' %>
    <li id="link-to-cart" class="link-block" data-hook>
      <noscript>
        <%= link_to Spree.t(:cart), '/cart' %>
      </noscript>
      &nbsp;
    </li>
    <script>Spree.fetch_cart()</script>
  </ul>
</div>

<nav class="site-navbar">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
    </ul>
  </div>
</nav>
