<li id="search-bar" data-hook>
  <a class="search-icon-link pointer" data-toggle="modal" data-target="#search-form-modal"><i class="fa fa-search size-16"></i></a>
  <%= render :partial => 'spree/shared/search' %>
</li>
