<article class="row newsletter-section">
  <div class="col-sm-12">
    <h6>BECOME AN<span class="big-text">shoes store V.I.P.</span></h6>
    <p class='slogan'>LET US TREAT YOU LIKE A V.I.P. WITH EARLY ACCESS TO OUR SALES, COLLECTION PREVIEWS AND SPECIAL, EXCLUSIVE PROMOTIONS.</p>
    <p class="slogan big-slogan">WE PROMISE TO CHANGE THE WAY of your wearing weapon.</p>

    <div class="newsletter-group form-group">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="EMAIL ADDRESS" id="n-letter">
        <label class="input-group-addon" for="n-letter">
          <input type="submit" value="SIGN ME UP"/>
        </label>
      </div>
    </div>
    <div class="cmn-border-box row"></div>
  </div>

  <div class="col-sm-12 follw-social text-center">
    <p class="heading">FOLLOW US ON SOCIAL</p>
    <a class="fa-stack fa-lg pointer">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </a>

    <a class="fa-stack fa-lg pointer">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </a>

    <a class="fa-stack fa-lg pointer">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-pinterest-p fa-stack-1x fa-inverse"></i>
    </a>

    <a class="fa-stack fa-lg pointer">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
    </a>

    <a class="fa-stack fa-lg pointer">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
    </a>
  </div>
</article>