<article class="row" data-selected-variant=<%= "product_#{product.id}" %>>
  <div class="col-sm-7" data-hook="product_left_part">
    <div data-hook="product_left_part_wrap">
      <div id="product-images" data-hook="product_images" class="product-slider-area">
        <div id="main-image" class="panel panel-default" data-hook>
          <div class="panel-body text-center padding-none" data-slider='image'>
            <%= render 'image', product: product %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-5" data-hook="product_right_part">
    <div data-hook="product_right_part_wrap">
      <div id="product-description" data-hook="product_description">
        <h1 class="product-title" itemprop="name"><%= product.name %></h1>
        <div id="cart-form" data-hook="cart_form">
          <%= render 'cart_form', product: product %>
        </div>
      </div>
    </div>
  </div>
</article>
