<% unless products.empty? %>
  <article class="row">
    <div class="col-sm-12 p-may-like">
      <% unless search %>
        <h3 class="cmn-block-heading">
          <span class="heading-slogan">YOU MIGHT ALSO LIKE</span>
          <span class="heading-text">Lorem Ipsum is simply</span>
        </h3>
      <% end %>
      <div class="row" id='products_infinite'>
        <% products.each do |_product| %>
          <div class="col-sm-4 prod-col">
            <% if _product.is_a? Spree::Product %>
              <%= render 'related_product_details', product: _product %>
            <% else %>
              <%= render 'related_product_details', product: _product.related_to %>
            <% end %>
          </div>
        <% end %>
        <div class='hidden pagination'>
          <%= paginate products if products.is_a? Spree::Product %>
        </div>
      </div>
      <% unless search %>
        <div class="cmn-border-box row narrow"></div>
      <% end %>
    </div>
  </article>
<% end %>
