<h3 class="cmn-block-heading">
  <span class="heading-slogan">Share this</span>
  <p class="heading-text">Lorem Ipsum is simply dummy text of the printing</p>
</h3>

<div class="social-btn-group btn-group-lg text-center">
  <a class="btn btn-link"><i class="fa fa-twitter"></i> Tweet</a>
  <a class="btn btn-link"><i class="fa fa-facebook"></i> Facebook</a>
  <a class="btn btn-link"><i class="fa fa-pinterest-p"></i> Pin</a>
  <a class="btn btn-link"><i class="fa fa-tumblr"></i> Post</a>
  <a class="btn btn-link"><i class="fa fa-google-plus"></i> Plus</a>
</div>

<div class="cmn-border-box row"></div>