<% content_for :header do -%>
  <%= stylesheet_link_tag 'yoda/stylesheets/spree/frontend/home' -%>
<% end -%>

<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
  <% end %>
</div>


<script type="text/javascript">
  $(function(){
    $(".home-top-slider").bxSlider({
      mode: "fade",
      speed: 1000,
      auto: true,
      autoHover: true
    })
  })
</script>

