@import 'yoda/stylesheets/spree/frontend/variable/variables';

.breadcrumb {
  background: none;
  padding: 0;
  font-size: 11px;
  color: #000;
   li {

    + li {
      &:before {
        color: inherit;
      }
    }
    &.active {
      a {
          color: $link-color;
          &:before {

          }
        }
    }
  }
  a {
    color: #000;
  }
}