@import 'yoda/stylesheets/spree/frontend/mixin/mixins';
@import 'yoda/stylesheets/spree/frontend/variable/variables';

#spree-header {
  background: #fff;
  #header {
    padding: 0 15px;
    background: #fff;
  }
  #logo.navbar-brand {
    max-width: 130px;
    margin-bottom: 0;
    padding: 0;
    height: auto;

    a {
      display: table-cell;
      height: 80px;
      vertical-align: middle;
      width: 100%;
    }
    img {
      max-width: 100%;
      vertical-align: middle;
    }
  }
  .nav {
    a {
      color: $main-nav-link-color;
    }
  }
}
.site-navbar {
  margin-left: 5px;
  float: left;

  #main-nav-bar {
    padding: 15px 0;
    text-align: center;
    li {
      float: none;
      display: inline-block;
      &:before {
        content: " ";
        background: $link-color;
        height: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 50%;
        @include transition(all,0.2s);
      }
      &:hover,
      &.active-link {
        &:before {
          top:0;
          height: 100%;
          opacity: 1;
        }
        a {
          color: #fff;
        }
      }
    }
    a {
      @include transition(all,0.2s);
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      &:hover {
        background: none;
      }
      &:focus {
        background: $link-color;
        color: #fff;
      }
    }

  }
  .navbar-nav {
    width: 100%;
  }
}
.top-nav-block {
  position: absolute;
  right: 15px;
  top: 5px;

  .top-link-bar {
    > li {
        float: left;
      > a {
        color: $main-nav-link-color;
        font-size: 11px;
        text-transform: uppercase;
        padding: 0 5px;
        margin-left: 10px;
        @extend .border-animation;

        &:after {
          background: rgba(0,0,0,0.5);
        }

        &:hover {
          text-decoration:none;
          opacity: 0.8;
        }

        &.cart-info {
          span {
            font-size: 16px;
          }
        }
        &.search-icon-link,
        &.cart-info {
          &:after {
            display: none;
          }
        }
      }

      + li {
          > a {

            &:before {
              content: "";
              background:rgba(0,0,0,0.5);
              height:100%;
              left: -5px;
              position: absolute;
              top: 0;
              width: 1px;
            }

          }
        }
    }
  }
}
.header-shipping {
  background: $main-nav-link-color;
  color: #fff;
  padding:10px 0 8px;

  .shipping-message {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
}
.notification-block {
  font-size: 11px;
  .fa {
    font-size: 18px;
  }
}


#search-form-modal {
  .modal-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
  .modal-content {
    @include border-radius(0);
    border: none;
    height: inherit;
    margin: 0;
    padding: 15px;
  }

  .search-form-group {
    position: relative;
    .form-control {
      @include border-radius(0);
      @include box-shadow(0,0,0,0 !important);
      border: none;
      border-bottom: solid 1px #ccc;
      font-size: 16px;
      height: 40px;
      padding-left: 50px;

      &:focus {
        border-color: $link-color;
        color: $link-color;
        
        + .search-label {
          color: $link-color;
          padding-left: 0;
          opacity: 1;
        }
      }

    }
  }

  .search-label {
    @extend .cmn-transition;
    cursor: pointer;
    font-size: 20px;
    height: 100%;
    left: 0;
    padding-left: 10px;
    line-height: 36px;
    margin: 0;
    position: absolute;
    opacity: 0.5;
    text-align: center;
    top: 0;
    width: 40px;
  }
}