@import 'yoda/stylesheets/spree/frontend/cmn';

.home-slider-box {
  margin: 0;

  .bx-viewport {
    margin-left: 5px;
  }

  .bx-wrapper {
    border-bottom: solid 2px #0b8ce3;
    margin-bottom: 40px;

    &:before,
    &:after {
      content: "";
      background: #dd438a;
      bottom: -2px;
      height: 2px;
      left: 25%;
      position: absolute;
      width: 25%;
      z-index: 99;
    }
    &:after {
      left: 75%;
    }
    .bx-pager {
      bottom: 6px;
      padding-top: 0;
      z-index:1;
    }
  }
  .slide {
    text-align: center;
    padding-bottom: 10px;

    img {
      margin: 0 auto;
    }
  }
}
#homepage_products {
  .heading-slogan {
    margin-left: 45px;
  }
}