@import 'yoda/stylesheets/spree/frontend/cmn';
@import 'yoda/stylesheets/spree/frontend/checkout/checkout-steps';


.order_summary_page {
  padding: 0 15px;
}

.legend {
  background: #f7f7f7;
  border: none;
  font-size: 16px;
  padding: 10px;
  margin: 20px 0;
}