@import 'yoda/stylesheets/spree/frontend/product';
@import 'yoda/stylesheets/spree/frontend/product-image-view';

.product-title {
  font-size: 18px;
  margin: 0;
  @extend .text-uppercase;
  @extend .open-bold;
}

#inside-product-cart-form {
  min-height: 30px;
  .product-price-block {
    border-bottom: solid 1px #cccccc;
    &.no-border {
      border: none;
    }
  }
  .price {
    margin: 0;
  }
  .price {
    + .price {
      margin-left: 10px;
      vertical-align: baseline;
    }
    &.narrow {
      margin: 0;
    }
  }
}
.product-additional-info {
  font-size: 11px;

  .tab-data {
    padding: 10px 20px;
  }
}
.product-info-link {
  cursor: pointer;
  margin-top: 10px;
  padding-left: 20px;
  position: relative;
  text-transform: uppercase;
  @extend .cmn-transition;

  &:before,
  &:after {
    content: "";
    background:#000;
    height: 1px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 11px;
    @extend .cmn-transition;
  }
  &:before {
    top: 7px;
  }
  &:after {
    width: 1px;
    height: 11px;
    left: 5px;
    @include scale(0);
  }

  &.collapsed {
    &:after {
      @include scale(1);
    }
  }
}

.prod-three-block {
  display: table;
  font-size: 12px;
  padding: 70px 0 30px;
  width: 100%;
  p {
    margin-bottom: 5px;
  }
  h5 {
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 20px;
  }

  .p-f-block {
    display: table-cell;
    float: none;
    padding: 30px 15px;
    vertical-align: top;
    width: 33.33%;

    + .p-f-block {
        &:before,
        &:after {
          content: " ";
          background: #ccc;
          height: 100%;
          left: 1px;
          position: absolute;
          top: 0;
          width: 1px;
        }
        &:before {
          left: -1px;
        }
    }
  }
}
.fress-shipping-info {
  background: #fafafa;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.09em;
  margin-bottom: 30px;
  padding: 15px;
  text-transform: uppercase;
}

.product-detail-row {
  padding-top: 10px;

  .product-detail-section {
    padding: 0 7.5%;
  }

  .cmn-detail-block {
    @extend .empty-hide;
    @extend .padding-horizontal-none;
    padding-bottom: 70px;

    &.product-social-block {
      padding-bottom: 0;
    }
  }
}

.social-btn-group {
  margin-top: -10px;
  
  .btn-link {
    font-size: 14px;
    margin-top: 10px;
  }
}

.p-may-like {
  padding-top: 30px;
  .panel {
    margin-bottom: 5px;
    @include border-radius(0);
    background: none;
  }
  .prod-main-block {
    margin-bottom: 0;
  }
  .product-title {
    color: $body-text-color;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: none;
    }
  }

  .prod-main-block {
    height: 250px;
    li {
      display: table;
      height: inherit;
      width: 100%;

      img {
        max-height: 100%;
        background: transparent;
      }

      .prod-img-link {
        display: table-cell;
        height: inherit;
        vertical-align: middle;
      }
    }
  }

  .product-price-block {
    padding: 5px;
  }
  .option-list-group {
    margin-top: 5px;
    .h-box {
      min-width: auto;
      margin-right: 10px;
      &.color{
        display: none;
      }
    }
  }
  .option-block {
    + .option-block {
        margin-top: 10px;
    }
  }
  
  .price {
    display: block;

    &.selling {
      font-size: 18px;
      font-weight: 400;  
    }

    + .price {
        margin: 0;
      }
  }
  .prod-col {
    min-height: 460px;
    overflow: hidden;

    .action-cart-btn-block {
      padding: 15px 0 0;

      .cmn-cart-btn {
        max-width: 160px;
      }
    }

    .option-list-group,
    .action-cart-btn-block {
      visibility: hidden;
      opacity: 0;
      @extend .cmn-transition;
    }

    &:hover {
      .action-cart-btn-block,
      .option-list-group {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}